.modal__bg {
    background-color: var(--bg);
    width: 100%;
    height: 100%;
}

@media only screen and (orientation: portrait) {
    .modal {
        width: 90% !important;
        min-height: 20%;
    }
    .modal__bg {
        background-color: var(--bg-focus);
    }
}

.modal {
    background-color: var(--bg-focus);
    margin: auto;
    border-radius: 30px;
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 90%;
    padding: 5vh 0 2.5vh;
    top: 20%;
    position: relative;

    a {
        margin: 5px 0;
    }
}

.modal__label-holder {
    flex: 1 0 auto;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    p {
        font-size: 1.5rem;
        margin: 0 0 15px 2%;
    }
}

.modal__input-holder {
    width: 85%;
    bottom: 20%;
    text-align: center;
    
    > input {
        width: 100%;
        box-sizing: border-box;
    }

    input {
        border-radius: 8px;
        font-size: 1rem;
        padding: 4% 5%;
        border: none;
        color: inherit;
        font-family: inherit;
        background-color: var(--bg);
        margin-bottom: 10px;
        
        &::placeholder {
            color: var(--text-greyed);
            opacity: 1; /* Firefox :] */
        }

        &:focus {
            outline: none; 
            box-shadow: inset 0 0 0 2px var(--primary);
        }
    }
}


.input--prefill::placeholder {
    color: inherit;
}

.input--prefill:focus::placeholder {
    color: var(--text-greyed);
}

.modal__button {
    padding: 15px;
    background-color: var(--primary);
    border: none;
    border-radius: 12px;
    color: var(--text);
    width: 85%;
    font-size: 1rem;
    margin: 10px 0;
    cursor: pointer;
    
    &:active {
        opacity: 0.7;
    }
}

.input-split__holder {
    display: flex;
    input {
        box-sizing: border-box;
    }

    & > :first-child {
        border-radius: 8px 0 0 8px;
    }
    & > :last-child {
        border-radius: 0 8px 8px 0;
    }
}

.input-split--username {
    width: 100%;
    flex: 1 1 auto;
    margin-right: 5px;
}

.input-split--hs {
    flex: 1 0 auto;
    width: 33%;
    transition: 0.15s;
    
    &:focus {
        width: 66%;
    }
}

.input--error {
    box-shadow: inset 0 0 0 3px var(--error);
}

.modal__error {
    width: 85%;
    padding: 15px 15px;
    /*box-shadow: inset 0 0 0 2px var(--error);*/
    background-color: var(--error);
    margin-bottom: 15px;
    box-sizing: border-box;    
    border-radius: 10px;
}