@use "../../utils/common";

@media only screen and (orientation: portrait) {
    .login__modal {
        width: 90% !important;
        min-height: 20%;
        background-color: var(--border) !important;
        max-width: unset !important;
        min-width: unset !important;
    }
}

.login__error-box {
    background-color: var(--error);
    padding: 0.4em 0.5em;
    border-radius: 0.5em;
    font-size: 0.9rem;
}

.login__input {
    border-radius: 0.5em;
    font-size: 1rem;
    padding: 0.6em;
    border: none;
    color: inherit;
    font-family: inherit;
    background-color: var(--bg);
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 100%;
    
    &::placeholder {
        color: var(--text-greyed);
        opacity: 1;
    }

    &:focus {
        outline: none; 
        box-shadow: inset 0 0 0 2px var(--primary);
    }

    &--error {
        box-shadow: inset 0 0 0 3px var(--error);
    }
}


.login__sso {
    &__container {
        overflow: auto visible;
        white-space: nowrap;

        @include common.scroll-style();
    }
    &__button {
        display: inline-block;
        margin-right: 0.2em;
        
        &__icon {
            width: 2.5em;
            height: 2.5em;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}
