@use "../../utils/common";
$border: 2px solid var(--bg-dark);

/* Rooms panel */
.column--rooms {
    background-color: var(--bg-focus);
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    /* text overflow doesn't like the flexbox parent, so we have a holder */
    &__label-holder {
        flex: none;
        padding: 0px 18px;
        font-size: 1.1rem;
        
        white-space: nowrap;
    }
    &__label {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__holder {
        flex: 1 1 auto;
        width: 100%;
        padding: 5px 10px;
        box-sizing: border-box;
        font-size: 0.9rem;

        overflow: hidden auto;
        @include common.scroll-style();

        &__loading {
            display: flex;
            width: 100%;
            justify-content: center;
            margin-top: 10px;
        }
    }
}
.resizable--collapsed {
    .column--rooms__holder {
        padding-top: 15px;
    }

    .column--rooms__label {
        display: none;
    }
}

.room__icon__crop {
    width: 1.5rem;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: var(--avatar-radius);
    flex: none;

    & > .room__icon {
        font-size: 0.6rem;
    }
}


.room {
    &__icon {
        height: 100%;
        width: 100%;
        background-color: var(--bg);
        /* To center text */
        user-select: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

    &__label {
        display: inline-block;
    }
}

.room__placeholder {
    color: var(--text-greyed);
    margin-left: 8px;  /* Same as option padding */
}


/* User bar */
.client__user-bar {
    width: 100%;
    height: 52px;
    padding: 5px 10px;
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    font-size: 0.9rem;
    border-top: $border;
    overflow: hidden;

    > .user__text-box {
        cursor: pointer;
    }

    &__options-box {
        flex: 0 1 auto;
        height: 100%;
        margin-left: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__options {
        padding: 2px;
        position: relative; /* For tooltip */
    }

    .avatar:hover {
        opacity: 0.7;
    }
}


/* Leftmost groups panel */
$group-padding: 11px;

.column--groups {
    flex: 0 0 auto;
    width: 70px;
    background-color: var(--bg-dark);
    padding: 15px 0;
    overflow: hidden auto;

    &--collapsed {
        width: 0;
    }
}

.group__holder {
    position: relative;
    margin: 0 $group-padding 12px $group-padding;
}

.group__seperator {
    margin: 0 $group-padding 12px $group-padding;
    box-sizing: border-box;
    height: 2px;
    background-color: var(--bg);
}

.group {
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s;
    border-radius: var(--avatar-radius);

    &--default {
        background: var(--bg);
        padding: 5px;
        box-sizing: border-box;
    }

    &--selected, &:hover {
        border-radius: calc(var(--avatar-radius) - 15%);
    }

    &:hover {
        opacity: 0.7;
    }

    &__unread {
        /* This value is actually double the width so we can be lazy */
        --width: 8px;
        width: var(--width);
        height: var(--width);

        position: absolute;
        top: calc( 50% - (var(--width) / 2));
        left: calc(-#{$group-padding} - (var(--width) / 2));

        background-color: var(--text);
        border-radius: calc(var(--width) / 2);
        transition: 0.1s;
    }
    &--selected ~ &__unread {
        height: 80%;
        top: 10%;
        display: block !important;
    }

    &__notification {
        height: 20px;
        width: 20px;
        background-color: var(--primary);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: -2px;
        right: -2px;
        font-size: 0.9rem;
    }
}


.invite-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
            
    /* 2nd onwards should have top border */
    &:not(:first-child) {
        border-top: 1px solid var(--text-greyed);
    }

    &__icon {
        height: 2.5rem;
        aspect-ratio: 1;
        font-size: 0.9rem;
        display: inline-block;
        margin-right: 10px;
        overflow: hidden;
        border-radius: var(--avatar-radius);
        flex: none;
    }

    &__label {
        flex: 1 1 auto;
        margin-right: 50px;

        &--inviter {
            color: var(--text-greyed)
        }
    }

    &__buttons {
        height: 2rem;
        border-radius: 7px;
        overflow: hidden;

        > div {
            height: 100%;
            display: inline-block;
            background-color: var(--bg);
            cursor: pointer;
            padding: 4px;
            box-sizing: border-box;

            path {
                fill: var(--button) !important;
            }

            &:hover {
                background-color: var(--button);

                path {
                    fill: var(--text)  !important;
                }
            }


            &:not(:first-child) {
                margin-left: 2px;
            }
        }
    }

    &__status {
        color: var(--text-greyed);
    }
}