.room-settings__basic {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;

    &__body {
        flex: 1 1 auto;
        overflow-x: hidden;
    }
    .room__icon__crop {
        flex: none;
        height: 4.5em;
        width: 4.5em;
        margin: 0.5em 1.5em;

        .room__icon {
            font-size: 1.2em;
        }
    }
    
    &__name {
        font-size: 1.4em;

        border-bottom: 2px solid var(--text-greyed);
    }
}

.room-settings__visibility__icon {
    vertical-align: text-bottom;
    margin-right: 0.2em;
}