@use "sass:math";


$settings-padding: 50px;
.page--settings {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-focus);
    padding: $settings-padding 15% 0;
    box-sizing: border-box;
    overflow-y: auto;

    &__close {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid var(--text-greyed);
        cursor: pointer;
        padding: 3px;
        box-sizing: border-box;
        position: fixed;
        right: calc((15% - 17px) / 2);

        &:hover {
            border-color: var(--bg-focus);
            background-color: var(--text-greyed);
            path {
                fill: var(--bg-focus) !important;
            }
        }
    }
}


.settings {
    &__holder {
        width: 100%;
        min-height: calc(100% - #{$settings-padding});
        max-height: 100%;
        display: flex;
        flex-direction: row;
    }

    &__categories {
        flex: none;
        width: 170px;
        padding: 0px 15px;

        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: scroll;

        .option {
            border-radius: 15px;
            margin-bottom: 5px;
            flex: 0 0 auto;
        }
    }

    &__divider {
        width: 2px;
        background-color: var(--bg);
        flex: none;
    }

    &__panel {
        flex: 1 1 auto;
        padding: 5px 20px;
        overflow: hidden scroll;
    }
}

.options-divider {
    width: calc(100% - 15px);
    height: 2px;
    background-color: var(--bg);
    margin-bottom: 10px;
    margin-top: 5px;
}

/* Components */

.settings__panel__group {
    width: 100%;

    &:not(:last-child){
        margin-bottom: 30px;
    }

    &__label {
        width: 100%;
        border-bottom: 2px solid var(--text-greyed);
        font-size: 1.1rem;
    }

    &__options {
        padding: 15px 10px;
        overflow-x: scroll;
    }
}

.settings__toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    &:not(:last-child) {
        border-bottom: 2px solid var(--bg);
    }

    &__label {
        padding: 10px 0; 
        flex: 1 1 auto;
    }
    &__switch {
        $height: 25px;
        $width: $height * 1.75;
        $padding: 4px;
        flex: none;
        height: $height;
        width: $width;
        position: relative;

        border-radius: 30px;
        background-color: var(--toggle-bg-off);
        transition: 0.3s;

        &__indicator {
            position: absolute;
            top: $padding;
            left: $padding;
            height: $height - ($padding * 2);
            width: $height - ($padding * 2);

            border-radius: 50%;
            background-color: var(--toggle-indicator);
            transition: 0.3s;
        }
        &--on {
            background-color: var(--success);
        }
        &--on &__indicator {
            left: $width - $padding - ($height - ($padding * 2)) ;  /* Overly complicated so it animates */
        }
    }
}

.settings__slider {
    padding: 10px 0;

    &__labels {
        > div {
            display: inline-block;
        }

        &--right {
            float: right;
        }

        &--greyed {
            color: var(--text-greyed)
        }
    }

    $bar-height: 0.3rem;
    $indicator-height: 1.2rem;
    &__bar {
        position: relative;
        margin: 1rem 0;

        width: 100%;
        height: $bar-height;
        border-radius: 0.15rem;

        background-color: var(--toggle-bg-off);
        cursor: pointer;

        &__indicator {
            position: absolute;
            top: math.div(-$indicator-height, 2) + math.div($bar-height, 2);

            height: $indicator-height;
            width: 0.4rem;

            border-radius: 0.15rem;
            background-color: var(--toggle-indicator);
        }
    }
}


/* Appearance */

.theme {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 25px;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 13px;
    padding: 5px;

    &:hover, &--selected {
        box-shadow: 0px 0px 0px 2px var(--primary);
    }

    &__colours {
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        height: 4rem;
        width: 4.7rem;
        margin-bottom: 5px;
        
        div {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }

    &__bg {
        background-color: var(--bg);
        clip-path: polygon(0 100%, 20% 100%, 80% 0, 0 0);
    }

    &__primary {
        background-color: var(--primary);
        clip-path: polygon(20% 100%, 100% 100%, 100% 0, 80% 0);
    }

    &__label {
        text-align: center;
    }
}


/* Security section */

.device-table {
    border-collapse: collapse;
    width: 100%;

    th, td {
        border: none;
    }

    th {
        border-bottom: 2px solid var(--text-greyed);
        text-align: left;
        padding: 10px 10px 5px;
    }

    &__loading {
        display: flex;
        justify-content: center;
        padding: 20px 0;
    }

    tr{
        td {
            padding: 10px;
        }

        &:nth-child(even) {
            background-color: var(--bg);
        }
    }

    &--current {
        box-shadow: inset 3px 0px 0px 0px var(--primary);

        td:first-child::after {
            content: "(Current)";
            color: var(--text-greyed);
            font-size: 0.8rem;
            margin-left: 0.25rem;
        }
    }
}

/* About page */
.settings__categories__about {
    margin-top: 5px;

    &__icon {
        margin: calc(2px + 0.125rem);

        &:hover {
            opacity: 0.7;
        }
    }
}
.matrix-logo {
    height: calc(16px + 1rem);  /* Match option's height */
    width: auto;
    overflow: visible;  /* Needed otherwise there can be some clipping */

    /* Override SVG's colour so it can be modified by the theme */
    #Made-for-Matrix-\\u2014-Preferred {
        fill: var(--matrix-logo);
    }
}
