@use "../../utils/common.scss";

$settings-padding: 50px;
.page--settings {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-focus);
    padding: $settings-padding 15% 0;
    box-sizing: border-box;
    overflow-y: auto;

    &__close {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid var(--text-greyed);
        cursor: pointer;
        padding: 3px;
        box-sizing: border-box;
        position: fixed;
        right: calc((15% - 17px) / 2);

        &:hover {
            border-color: var(--bg-focus);
            background-color: var(--text-greyed);
            path {
                fill: var(--bg-focus) !important;
            }
        }
    }
}


.settings {
    &__holder {
        width: 100%;
        min-height: calc(100% - #{$settings-padding});
        max-height: 100%;
        display: flex;
        flex-direction: row;
    }

    &__categories {
        flex: none;
        width: 180px;
        padding: 0px 15px;

        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: auto;
        @include common.scroll-style();

        .option {
            border-radius: 15px;
            margin-bottom: 5px;
            flex: 0 0 auto;
        }
    }

    &__divider {
        width: 2px;
        background-color: var(--bg);
        flex: none;
    }

    &__panel {
        flex: 1 1 auto;
        padding: 5px 20px;
        overflow: hidden auto;
        @include common.scroll-style();
    }
}

.options-divider {
    width: calc(100% - 15px);
    height: 2px;
    background-color: var(--bg);
    margin-bottom: 10px;
    margin-top: 5px;
}

.settings__row {
    display: flex;
    flex-direction: row;
    align-items: center;


    &:not(:last-child) {
        border-bottom: 2px solid var(--bg);
    }
    
    &__label {
        padding: 10px 0; 
        flex: 1 1 auto;

        overflow: hidden;
        text-overflow: ellipsis;

        &--desc {
            font-size: 0.9em;
            color: var(--text-greyed);
        }
    }

    &__action {
        padding: 0 0.5em;
    }
}

.settings__button {
    font-size: 1em;
    padding: 5px 12px;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    margin: 0.25em;
    user-select: none;

    &--save {
        @extend .settings__button;
        color: var(--text);
        background-color: var(--primary);

        &:active {
            background-color: var(--primary-hover);
        }
    }
    &--danger {
        @extend .settings__button;
        color: var(--error);
        background-color: transparent;
        box-shadow: 0 0 0 2px var(--error) inset;

        &:active {
            color: var(--text);
            background-color: var(--error);
            box-shadow: none;
        }
    }
    &--link {
        border: none;
        background-color: transparent;
        font-size: 1em;
        margin: 0;
        padding: 0;

        cursor: pointer;
        color: var(--primary);
        text-decoration: underline;
    }
}
