
.message {
    flex: none;
    padding: 0 15px;
    box-sizing: border-box;
    margin-top: 10px;
    display: flex;
    flex-direction: row;

    &:hover {
        background-color: var(--bg-focus);
    }

    &__avatar__crop {
        width: 40px;
        height: 40px;
        flex: none;
        margin-right: 15px;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }
    }

    &__avatar {
        width: 100%;
        height: 100%;
    }

    &__text {
        flex: 1 1 auto;
        overflow: hidden;
    }

    &__info {
        margin-bottom: 2px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    &__author {
        font-weight: 600;
        cursor: pointer;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        flex: 0 1 auto;
        
        &:hover {
            text-decoration: underline;
        }
    }
    &-timestamp {
        margin-left: 0.5rem;
        flex: none;
    }

    &__content {
        width: 100%;
        overflow-wrap: break-word;
        padding-right: 58px;
        box-sizing: border-box;

        &__edited {
            color: var(--text-greyed);
            font-size: 0.7rem !important;
            display: inline-block;
            user-select: none;
        }
    }
}

.message--partial {
    padding: 2px 15px;
    flex: none;
    display: flex;
    flex-direction: row;

    .message-timestamp {
        display: none;
        flex: 0;
        margin: 0;
        user-select: none;
    }

    &:hover {
        background-color: var(--bg-focus);

        .message-timestamp {
            display: block;
        }
    }

    &__offset {
        /* Offset avatar + margin */
        display: flex;
        justify-content: center;
        width: 40px;
        margin-right: 15px;
        flex: none;
    }
}
.message-timestamp {
    color: var(--text-greyed);
    font-size: 0.8rem;
    height: min-content;
    padding-top: 0.15rem;
}


/* Markdown */
.message__content {
    > p > * {
        display: inline-block;
    }
    * {
        font-size: 1rem;  /* Override h1/h2 etc */
        margin: 0;
    }
    p, pre {
        white-space: pre-wrap;
    }
    blockquote {
        margin: 0.6rem 0;
        border-left: 4px solid var(--text-greyed);
        padding: 0.25rem 0.6rem;
    }
    code {
        /*font-family: monospace;*/
        background-color: var(--bg-focus);
    }
    ul, ol {
        padding-left: 1rem;
    }
    /* Code block */
    p > code:only-child, pre > code:only-child {
        display: block;
        padding: 0.25rem 0.5rem;
        width: 90%;
        box-sizing: border-box;
        border: 1px solid var(--border);
        border-radius: 0.25rem;
        margin: 2px 0;
    }
    input[type=checkbox] {
        appearance: none;
        border: 2px solid var(--text);
        box-sizing: border-box;
        height: 1rem;
        width: 1rem;
        border-radius: 0.2rem;
        display: inline-block;
        vertical-align: middle;

        &:checked::after {
            content: "✓";
            color: var(--text);
            font-size: 0.7rem;
            line-height: 0.7rem;
            display: block;
            text-align: center;
            font-weight: bold;
        }
    }
}

.message__content__image {
    cursor: pointer;
    margin-top: 0.25rem;
    border-radius: 4px;
    max-width: 400px;
    max-height: 300px;
}

.image-popup {
    max-height: 70vh;
    max-width: 70vw;

    &__buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: min-content;
        right: 0;
        position: absolute;

        .mdi-icon {
            margin: 0.1rem;
            padding: 0.1rem;
        }
    }
}

@mixin startframe {
    transform: scale(0.5);
    opacity: 0;
    filter: blur(3px);
}
@mixin endframe {
    transform: scale(1);
    opacity: 1;
    filter: blur(0px);
}

@keyframes image__zoom-in {
    0% {
        @include startframe;
    }
    100% {
        @include endframe;
    }
}
@keyframes image__zoom-out {
    0% {
        @include endframe;
    }
    100% {
        @include startframe;
    }
}