.loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading__holder {
    flex: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loading__text {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 20px;
    user-select: none;
}


/* Client */

.client {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.column {
    height: 100%;
    box-sizing: border-box;
}

.column--chat {
    flex: 1 0 auto;
    background-color: var(--bg);
}
.column--right {
    flex: 0 0 auto;
    width: 260px;
    background-color: var(--bg-focus);
    border-left: 2px solid var(--border);
}


/* Rooms/profile panel */
.column--rooms {
    flex: 0 0 auto;
    width: 260px;
    background-color: var(--bg-focus);
    border-right: 2px solid var(--border);
    position: relative;
    display: flex;
    flex-direction: column;
}

.column--rooms__holder {
    flex: 1 1 auto;
    width: 100%;
    padding: 15px 10px;
    overflow-y: auto;
    box-sizing: border-box;
    font-size: 0.9rem;
}

.room {
    width: 100%;
    margin-bottom: 3px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

.room:hover, .room--selected {
    background-color: var(--bg);
}

.client__user-bar {
    width: 100%;
    height: 55px;
    border-top: 2px solid var(--border);
    padding: 5px 10px;
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    font-size: 0.9rem;
}

.client__user-bar__profile {
    height: 100%;
    flex: 1 1 auto;
}
.client__user-bar__options-box {
    flex: 0 1 auto;
    height: 100%;
    display: table;
    margin-left: 8px;
}

.client__user-bar__options {
    padding: 2px;
    display: table-cell;
    vertical-align: middle;
}


/* Leftmost groups panel */
.column--groups {
    flex: 0 0 auto;
    width: 70px;
    background-color: var(--bg-focus);
    border-right: 2px solid var(--border);
    padding: 15px 11px;
}

.group--default {
    background: var(--bg);
    padding: 5px;
    box-sizing: border-box;
}

.group {
    width: 100%;
    margin-bottom: 12px;
    aspect-ratio: 1;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 20px;
}
.group:hover {
    opacity: 0.7;
    border-radius: 10px;
}

.group--selected {
    border-radius: 10px;
}

.group__icon {
    height: 100%;
    width: 100%;
    background-color: var(--bg);
    /* To center text */
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
