body.dark {
    color-scheme: dark;
    --primary: #5e72d1;
    --bg: #494a51;
    --bg-focus: #303139;
    --content: #9a9d9e;
    --text: #e6e6e6;
    --text-greyed: #8d8d8d;
    --error: #ed3f3e;
    --border: #1c1c1c;
}

body, html, #root {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
    height: 100%;
    margin: 0px;
    font-size: 2vh;
    overflow: hidden;
}

a {
    color: var(--primary);
}