@use "../utils/common";

body, html, #root {
    font-family: var(--font-standard);
    color: var(--text);
    height: 100%;
    margin: 0px;
    font-size: var(--font-size);
    overflow: hidden;
    background-color: var(--bg);
}


a {
    color: var(--primary);
}


.mention {
    background-color: var(--primary-hover);
    color: var(--text);
    /* Ensure there is a slight gap between the mention and the next line */
    font-size: 0.9rem !important;
    padding: 0.04rem 0.2rem;
    border-radius: 0.2rem;
    /*cursor: pointer;*/
}


.codeblock {
    @include common.codeblock;
    background-color: var(--bg-dark);
    white-space: pre-wrap;
}


.header {
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 1px 2px var(--bg-dark);
    z-index: common.z-index("header");

    /* Used to force elements on either side of it */
    &__align {
        flex: 1;
    }
}


/* Twemoji inline */
img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
 }


/* Scrollbars :] */
@mixin hide-scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
}
.scroll--hidden {
    @include hide-scroll;
}
/* Show scrollbar on hover */
.scroll--hover{
    &:not(:hover) {
        @include hide-scroll;
    }
    scrollbar-width: thin;
}


.avatar {
    flex: none;  // In general, we like to keep the avatar

    height: 100%;
    aspect-ratio: 1;
    user-select: none;
    font-weight: bold;
    color: var(--bg);
    
    /* Center text if included */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Round crop */
    border-radius: var(--avatar-radius);
    overflow: hidden;  // Just in case
}
