@use "../utils/common";
@use "sass:meta";

/* Colour themes */
.dark {
    --primary: #5e72d1;
    --primary-hover: #5e71d1c7;
    --bg: #494a51;
    --bg-hover: #3a3b4394;
    --bg-focus: #3a3b43;
    --bg-dark: #2a2b31;
    --text: #e6e6e6;
    --text-greyed: #8d8d8d;
    --success: #52c550;
    --error: #ed3f3e;
    --border: #1c1c1c;
    --matrix-logo: #fff;

    /* User colours */
    --blue: #4a93e1;
    --magenta: #e248f8;
    --aqua: #93e1d8;
    --pink: #ffafec;
    --orange: #ff721e;
    --light-blue: #7cbad5;
    --purple: #9a5df4;
    --green: #53dd6c;

    @include meta.load-css("~highlight.js/styles/github-dark");
}

.light {
    --primary: #df79d4;
    --primary-hover: #df79d499;
    --bg: #efefef;
    --bg-hover: #efefef94;
    --bg-focus: #e1e1e1;
    --bg-dark: #d3d3d3;
    --text: #404040;
    --text-greyed: #6c6c6c;
    --success: #67c671;
    --error: #e55757;
    --border: #bebebe;
    --matrix-logo: #000;

    /* User colours */
    --blue: #2e79ed;
    --magenta: #c628ff;
    --aqua: #05c7b0;
    --pink: #ff3fb5;
    --orange: #f55c00;
    --light-blue: #2cbdfc;
    --purple: #864af1;
    --green: #0ade35;

    @include meta.load-css("~highlight.js/styles/github");
}


/* Universal styles */
:root {
    --font-standard: Arial, Helvetica, sans-serif;
    --font-monospace: monospace;
    --font-size: 16px;

    --avatar-rounded: 30%;
    --avatar-radius: var(--avatar-rounded);

    --toggle-indicator: #e6e6e6;
    --toggle-bg-off: #8d8d8d;
}

body, html, #root {
    font-family: var(--font-standard);
    color: var(--text);
    height: 100%;
    margin: 0px;
    font-size: var(--font-size);
    overflow: hidden;
    background-color: var(--bg);
}

a {
    color: var(--primary);
}

.mention {
    background-color: var(--primary-hover);
    color: var(--text);
    /* Ensure there is a slight gap between the mention and the next line */
    font-size: 0.9rem !important;
    padding: 0.04rem 0.2rem;
    border-radius: 0.2rem;
    /*cursor: pointer;*/
}

.codeblock {
    @include common.codeblock;
    background-color: var(--bg-dark);
    white-space: pre-wrap;
}

.header {
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 1px 2px var(--bg-dark);
    z-index: common.z-index("header");

    /* Used to force elements on either side of it */
    &__align {
        flex: 1;
    }
}

/* Twemoji inline */
img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
 }

/* Scrollbars :] */
@mixin hide-scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
}
.scroll--hidden {
    @include hide-scroll;
}
/* Show scrollbar on hover */
.scroll--hover{
    &:not(:hover) {
        @include hide-scroll;
    }
    scrollbar-width: thin;
}