/* User */
.user {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    overflow: hidden;
}

.avatar__crop {
    border-radius: 30%;
    overflow: hidden;
    height: 100%;
    aspect-ratio: 1;
    flex: 0 0 auto;
    margin-right: 10px;
    background-color: transparent !important;
}
.avatar {
    width: 100%;
    height: 100%;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--bg);
}

.user__text-box {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-x: hidden;
}

.user__text {
    text-overflow: ellipsis;
    overflow-x: hidden;
    user-select: none;
}
.user {
    &__username {
    color: var(--text);
    }
    &__homeserver {
        color: var(--text-greyed);
    }
}

/* Button */

.mdi-icon {
    cursor: pointer;
    color: var(--text);
    display: block;
    
    &:hover {
    opacity: 0.7;
    }
}

/* Tooltip */

.tooltip {
    $offset: 10px;
    $arrow-size: 5px;
    $color: var(--border);

    user-select: none;
    background-color: $color;
    padding: 8px 13px;
    border-radius: 10px;
    z-index: 10;
    position: absolute;
    width: max-content;

    /* Visibility */
    transition: opacity 0.1s, visibility 0.1s;
    opacity: 0;
    visibility: hidden;
    &--visible {
        opacity: 100%;
        visibility: visible;
    }

    /* Arrow */
    &::before{
        content: "";
        border: #{$arrow-size} solid transparent;
        position: absolute
    }

    /* Direction variants */
    &--right {
        left: calc(100% + #{$offset});
        transform: translate(0, -50%);
        top: 50%;

        &::before {
            top: calc(50% - #{$arrow-size});
            right: 100%;
            border-right-color: $color; 
        }
    }
    &--top {
        bottom: calc(100% + #{$offset});
        transform: translate(-50%, 0);
        left: 50%;

        &::before {
            left: calc(50% - #{$arrow-size});
            top: 100%;
            border-top-color: $color; 
        }
    }
    &--left {
        right: calc(100% + #{$offset});
        transform: translate(0, -50%);
        top: 50%;

        &::before {
            top: calc(50% - #{$arrow-size});
            left: 100%;
            border-left-color: $color; 
        }
    }
    &--bottom {
        top: calc(100% + #{$offset});
        transform: translate(-50%, 0);
        left: 50%;

        &::before {
            left: calc(50% - #{$arrow-size});
            bottom: 100%;
            border-bottom-color: $color; 
        }
    }
}

/* Selectable */

.option {
    width: 100%;
    margin-bottom: 3px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    /* Vertically center children */
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;

    &:hover, &--selected {
        background-color: var(--primary);
    }

    &__text {
        display: inline-block;
        margin-left: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex: 1;
    }

    &--danger {
        color: var(--error);
        background-color: none;

        &:hover {
            background-color: var(--error);
            color: var(--text);
        }
    }

    &__notification {
        flex: none;
        background-color: var(--primary);
        border-radius: 0.6rem;
        padding: 2px;
        height: 1.3rem;
        line-height: 1.3rem;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__unread {
        flex: none;
        height: 8px;
        width: 8px;
        background-color: var(--primary);
        margin-right: 5px;
        border-radius: 50%;
    }
}


/* Overlay */
.overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    &__fade {
        background-color: var(--border);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;
    }
    &__modal {
        z-index: 101;
    }
}
