.icon-button {
    display: inline-block;
    &__icon {
        cursor: pointer;
        color: var(--text);
        display: block;
        
        &:hover {
            opacity: 0.7;
        }
    }
}


@mixin option {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    /* Vertically center children */
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;

    &:hover {
        background-color: var(--primary-hover);
    }

    &__text {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex: 1;
        margin: 0 8px;
    }

    &__notification {
        flex: none;
        background-color: var(--primary);
        border-radius: 0.6rem;
        padding: 2px;
        height: 1.3rem;
        line-height: 1.3rem;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__unread {
        flex: none;
        height: 8px;
        width: 8px;
        background-color: var(--primary);
        margin-right: 5px;
        border-radius: 50%;
    }
}

.option {
    @include option;

    &:not(:last-child) {
        margin-bottom: 3px;
    }

    &--selected {
        background-color: var(--primary) !important;
    }
    &:hover, &--selected {
        .option__notification, .option__unread {
            background-color: var(--text);
            color: var(--primary);
        }
    }

    &--danger {
        color: var(--error);
        background-color: none;

        &:hover {
            background-color: var(--error) !important;
            color: var(--text);

            & > svg > path {
                fill: var(--text) !important;
            }
        }
    }
    &--compact {
        padding: 5px 8px;
        border-radius: 5px;
    }
}

.option--dropdown {
    @include option;

    &__chevron {
        flex: none;
        transition: 0.15s;
        margin-right: 4px;
    }

    &__text:nth-child(2) {
        margin: 0;
    }

    &__content {
        margin-top: 3px;
        margin-bottom: 6px;
        padding-left: calc(#{6px - 8px} + (1.5rem / 2));  /* Keep icons inline */
        box-shadow: 2px 0 var(--text-greyed) inset;
        margin-left: calc(6px + (1.5rem / 2)); /* padding + 1/2 chevron height */
    }

    &-wrapper {
        &:not(:last-child) {
            margin-bottom: 3px;
        }
    }
}


.button {
    font-size: 1em;
    padding: 5px 12px;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    margin: 0.25em;
    user-select: none;

    &--plain {
        @extend .button;
        color: var(--text-greyed);
        background-color: transparent;
        box-shadow: 0 0 0 1px var(--text-greyed) inset;

        &:active {
            color: var(--text);
            background-color: var(--text-greyed);
            box-shadow: none;
        }
    }
    &--save {
        @extend .button;
        color: var(--text);
        background-color: var(--primary);

        &:active {
            background-color: var(--primary-hover);
        }
    }
    &--danger {
        @extend .button;
        color: var(--error);
        background-color: transparent;
        box-shadow: 0 0 0 1px var(--error) inset;

        &:active {
            color: var(--text);
            background-color: var(--error);
            box-shadow: none;
        }
    }
    &--link {
        border: none;
        background-color: transparent;
        font-size: 1em;
        margin: 0;
        padding: 0;

        cursor: pointer;
        color: var(--primary);
        text-decoration: underline;
    }
}
