
@mixin scroll-style($bg-col) {
    $slider-col: var(--bg-dark);
    scrollbar-color: $slider-col $bg-col;

    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background-color: $bg-col;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $slider-col;
        border-radius: 5px;
    }
}

@mixin codeblock {
    display: block;
    padding: 0.25rem 0.5rem;
    width: 90%;
    box-sizing: border-box;
    border: 1px solid var(--border);
    border-radius: 0.25rem;
    margin: 2px 0;
}