
/* Message */
.message {
    &__info {
        margin-bottom: 2px;
        overflow: hidden;

        &__author {
            font-weight: 600;
            cursor: pointer;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            margin-right: 1ex;
            
            &:hover {
                text-decoration: underline;
            }
        }
        .event__timestamp {
            flex: none;
        }
    }
}

.message--emote {
    &__icon {
        vertical-align: top !important;
        width: 0.8em !important;
        height: 0.8em !important;
    }

    &__content {
        display: inline;

        .message__author {
            font-weight: normal;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }

        font-style: italic;
        & > p:first-of-type {
            display: inline;
        }
    }
}

.event__sticker {
    max-width: 100%;
    width: 200px;
}

/* Compact event with icon */
.event--compact-event {
    width: fit-content;
    max-width: 100%;
    color: var(--text-greyed);

    &__icon {
        display: inline-block;
        vertical-align: text-bottom;
        margin-right: 0.2em;
        cursor: pointer;
    }

    &__user {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}
