@use "../../../../utils/common";
$horizontal-padding: 1rem;
$event-offset: 2.75rem;


/* Base Event */
.event-container {
    margin-top: 10px;
    padding: 2px $horizontal-padding;
    border-radius: 0.5rem;
    &--partial {
        margin-top: 0;
    }
    box-sizing: border-box;

    flex: none;
    position: relative;
}
.event-container:hover, .event-container--hover{
    background-color: var(--bg-hover);

    .event__buttons {
        display: flex;
    }
}
/* Event parts */
.event {
    display: flex;
    flex-direction: row;

    &__offset {
        flex: none;
        width: $event-offset;
        margin-right: $horizontal-padding;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    &--partial &__offset {
        justify-content: center;
    }

    &__body {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        overflow: hidden;
        overflow-wrap: break-word;

        &__edited {
            color: var(--text-greyed);
            font-size: 0.7rem !important;
            display: inline-block;
            margin-right: 100% !important;  /* Force newline */
            user-select: none;
        }
    }
}
.event__timestamp {
    color: var(--text-greyed);
    font-size: 0.8em;
}
/* Event variations */
.event-container--partial {
    .event__timestamp-align {
        height: 100%;
    }
    .event__timestamp {
        display: none;
        flex: 0;
        margin: 0;
        user-select: none;
    }
    &:hover .event__timestamp {
        display: inline;
    }
}

.event__avatar {
    cursor: pointer;
    &:hover {
        opacity: 0.7;
    }

    flex: none;
    width: $event-offset;
    height: $event-offset;
    &--compact {
        $size: 1.75rem;
        height: $size;
        width: $size;
        align-self: flex-end;
        margin: auto 0;  /* Vertically center */

    }

    .avatar {
        width: 100%;
        height: 100%;
    }
}


/* Message options */

.event__buttons {
    position: absolute;
    top: -1.2rem;
    right: 1rem;
    background-color: var(--bg);
    border-radius: 0.2rem;
    box-shadow: 0 0 1px var(--border);
    flex-direction: row;
    display: none;

    &:hover {
        box-shadow: 0px 1px 3px var(--border);
    }
    &__entry {
        height: 1.6rem;
        margin: 0 0.2rem;
        padding: 0.2rem 0;  /* To position the dropdowns correctly */
    }
}

.overlay__modal--read {
    width: 400px;
    .user {
        height: 2.5rem;
        padding: 5px;
        border-radius: 5px;

        &:hover {
            background-color: var(--bg);
        }
    }
}

.overlay__modal--reacts {
    display: flex;
    flex-direction: row;
    width: 400px;
    overflow: hidden;
    &__emotes {
        border-right: 2px solid var(--text-greyed);
        padding: 5px 0.5rem 5px 0;
        margin-right: 0.5rem;
        overflow: hidden auto;
        @include common.scroll-style();

        .option {
            aspect-ratio: 1;
        }
    }
    .option__text {
        margin: 0;
    }
    &__users {
        flex: 1 1 auto;
        overflow: hidden scroll;
        @include common.scroll-style();
    }

    .user {
        height: 2.5rem;
        padding: 5px;
        border-radius: 5px;

        &:hover {
            background-color: var(--bg);
        }
    }
}


@mixin startframe {
    transform: scale(0.5);
    opacity: 0;
    filter: blur(3px);
}
@mixin endframe {
    transform: scale(1);
    opacity: 1;
    filter: blur(0px);
}
@keyframes image__zoom-in {
    0% {@include startframe}
    100% {@include endframe}
}
@keyframes image__zoom-out {
    0% {@include endframe}
    100% {@include startframe}
}