@use "../../../../utils/common";
$horizontal-padding: 1em;
$event-offset: 2.75em;


/* Base Event */
.event {
    margin-top: 10px;
    padding: 2px $horizontal-padding;
    border-radius: 0.5rem;
    &--partial {
        margin-top: 0;
    }
    box-sizing: border-box;

    flex: none;
    position: relative;
}
.event:hover, .event--hover{
    background-color: var(--bg-focus);

    .event__buttons {
        display: flex;
    }
    .event__reactions__reaction {
        box-shadow: 0px 0px 0px 1px var(--bg) inset;
    }
}
/* Event parts */
.event {
    display: flex;
    flex-direction: row;

    &__offset {
        flex: none;
        width: $event-offset;
        margin-right: $horizontal-padding;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    &--partial &__offset {
        justify-content: center;
    }

    &__body {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        overflow: hidden;
        overflow-wrap: break-word;

        &__edited {
            color: var(--text-greyed);
            font-size: 0.7rem !important;
            display: inline-block;
            margin-right: 100% !important;  /* Force newline */
            user-select: none;
        }
    }
}
.event__reactions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 0.4em;
    font-size: 0.95em;

    &__reaction {
        flex: none;
        user-select: none;
        /*cursor: pointer;*/

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var(--bg-focus);
        padding: 0.1em 0.5em;
        margin-right: 0.4em;
        border-radius: 0.5em;
        &:hover {
            background-color: var(--bg);
        }
        &--selected {
            background-color: var(--primary) !important;
        }
    }
}
.event__timestamp {
    color: var(--text-greyed);
    font-size: 0.8em;
}
/* Event variations */
.event--partial {
    .event__timestamp-align {
        height: 100%;
    }
    .event__timestamp {
        display: none;
        flex: 0;
        margin: 0;
        user-select: none;
    }
    &:hover .event__timestamp {
        display: inline;
    }
}

.event__avatar {
    cursor: pointer;
    &:hover {
        opacity: 0.7;
    }

    flex: none;
    width: $event-offset;
    height: $event-offset;
    &--compact {
        $size: 1.75rem;
        height: $size;
        width: $size;
        align-self: flex-end;
        margin: auto 0;  /* Vertically center */

    }

    .avatar {
        width: 100%;
        height: 100%;
    }
}

/* Message */
.message {
    &__info {
        margin-bottom: 2px;
        overflow: hidden;

        &__author {
            font-weight: 600;
            cursor: pointer;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            margin-right: 1ex;
            
            &:hover {
                text-decoration: underline;
            }
        }
        .event__timestamp {
            flex: none;
        }
    }

    &__content {
        width: 100%;
        overflow-wrap: break-word;
        padding-right: 60px;
        box-sizing: border-box;

        &--unknown {
            color: var(--text-greyed);
            width: fit-content;
            max-width: 100%;
        }
    }
}

.message--emote {
    &__content {
        .message__author {
            font-weight: normal;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }

        font-style: italic;
        & > p:first-of-type {
            display: inline;
        }
    }
}

/* Event specific */
.event--compact-event {
    width: fit-content;
    max-width: 100%;
    color: var(--text-greyed);

    &__icon {
        display: inline-block;
        vertical-align: text-bottom;
        margin-right: 0.2em;
    }

    &__user {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}

.event__buttons {
    position: absolute;
    top: -1.2rem;
    right: 1rem;
    background-color: var(--bg);
    border-radius: 0.2rem;
    box-shadow: 0 0 1px var(--border);
    flex-direction: row;
    display: none;

    &:hover {
        box-shadow: 0px 1px 3px var(--border);
    }
    &__entry {
        height: 1.6rem;
        margin: 0 0.2rem;
        padding: 0.2rem 0;  /* To position the dropdowns correctly */
    }
}
.event__dropdown {
    background-color: var(--bg-dark);
    border-radius: 10px;
    width: 160px;
    position: fixed;
    padding: 8px;
}


/* Message markdown */
.message__content {
    > p > * {
        display: inline-block;
    }
    * {
        font-size: 1rem;  /* Override h1/h2 etc */
        margin: 0;
    }
    p, pre {
        white-space: pre-wrap;
    }
    blockquote {
        margin: 0.6rem 0;
        border-left: 4px solid var(--text-greyed);
        padding: 0.25rem 0.6rem;
    }
    code {
        /*font-family: monospace;*/
        background-color: var(--bg-focus);
    }
    ul, ol {
        padding-left: 0;
        list-style-position: inside;

        li {
            text-indent: 0.75em;
        }
    }
    /* Code block */
    p > code:only-child, pre > code:only-child {
        @include common.codeblock;
        width: 90%;
    }
    input[type=checkbox] {
        appearance: none;
        border: 2px solid var(--text);
        box-sizing: border-box;
        height: 1rem;
        width: 1rem;
        border-radius: 0.2rem;
        display: inline-block;
        vertical-align: middle;

        &:checked::after {
            content: "✓";
            color: var(--text);
            font-size: 0.7rem;
            line-height: 0.7rem;
            display: block;
            text-align: center;
            font-weight: bold;
        }
    }

    table {
        --table-border: 2px solid var(--bg-dark);
        border-spacing: 0;
        border-radius: 4px;
        border: var(--table-border);

        th, td {
            padding: 0.1rem 0.2rem;
            text-align: center !important;
    
            &:not(:last-child) {
                border-right: var(--table-border);
            }
        }
        tr:not(:last-child) {
            th, td {
                border-bottom: var(--table-border);
            }
        }
    }
}

.message__content__image {
    cursor: pointer;
    margin-top: 0.25rem;
    border-radius: 4px;
    max-width: 320px;
    max-height: 240px;
}

.message__content__file {
    width: 100%;
    max-width: 300px;
    height: 3rem;
    margin-top: 0.25rem;
    padding: 0.2rem 0.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: var(--bg-focus);
    border: 1px solid var(--border);
    border-radius: 0.6rem;

    &__icon {
        flex: none;
        margin-right: 0.3rem;
    }
    &__text {
        flex: 1 1 auto;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &__name {
            font-size: 0.9rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        &__size {
            color: var(--text-greyed);
            font-size: 0.8rem;
            overflow: hidden;
            white-space: nowrap;
            user-select: none;
        }
    }
    &__download {
        flex: 0;
        margin: 0 0.3rem;
    }
}

.overlay__body code {
    flex: 1 1 auto;
    position: relative;

    .copy-text__button {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        background-color: var(--bg-dark);
        box-shadow: -0.5em 0 0.5em var(--bg-dark);
    }
}

.overlay__modal--read {
    width: 400px;
    .user {
        height: 2.5rem;
        padding: 5px;
        border-radius: 5px;

        &:hover {
            background-color: var(--bg);
        }
    }
}

.overlay__modal--reacts {
    display: flex;
    flex-direction: row;
    width: 400px;
    overflow: hidden;
    &__emotes {
        border-right: 2px solid var(--text-greyed);
        padding-right: 0.5rem;
        margin-right: 0.5rem;
        overflow: hidden auto;
        @include common.scroll-style(var(--bg-focus));

        .option {
            aspect-ratio: 1;
        }
    }
    .option__text {
        margin: 0;
    }
    &__users {
        flex: 1 1 auto;
        overflow: hidden scroll;
        @include common.scroll-style(var(--bg-focus));
    }

    .user {
        height: 2.5rem;
        padding: 5px;
        border-radius: 5px;

        &:hover {
            background-color: var(--bg);
        }
    }
}


@mixin startframe {
    transform: scale(0.5);
    opacity: 0;
    filter: blur(3px);
}
@mixin endframe {
    transform: scale(1);
    opacity: 1;
    filter: blur(0px);
}
@keyframes image__zoom-in {
    0% {@include startframe}
    100% {@include endframe}
}
@keyframes image__zoom-out {
    0% {@include endframe}
    100% {@include startframe}
}