@use "../../../../utils/common";

/* Message markdown */
.message__content {
    > p > * {
        display: inline-block;
    }
    * {
        font-size: 1rem;  /* Override h1/h2 etc */
        margin: 0;
    }
    p, pre {
        white-space: pre-wrap;
    }
    blockquote {
        margin: 0.6rem 0;
        border-left: 4px solid var(--text-greyed);
        padding: 0.25rem 0.6rem;
    }
    code {
        /*font-family: monospace;*/
        background-color: var(--bg-focus);
    }
    ul, ol {
        padding-left: 0;
        list-style-position: inside;

        li {
            text-indent: 0.75em;
        }
    }
    /* Code block */
    p > code:only-child, pre > code:only-child {
        @include common.codeblock;
        width: 90%;
    }
    input[type=checkbox] {
        appearance: none;
        border: 2px solid var(--text);
        box-sizing: border-box;
        height: 1rem;
        width: 1rem;
        border-radius: 0.2rem;
        display: inline-block;
        vertical-align: middle;

        &:checked::after {
            content: "✓";
            color: var(--text);
            font-size: 0.7rem;
            line-height: 0.7rem;
            display: block;
            text-align: center;
            font-weight: bold;
        }
    }

    table {
        --table-border: 2px solid var(--bg-dark);
        border-spacing: 0;
        border-radius: 4px;
        border: var(--table-border);

        th, td {
            padding: 0.1rem 0.2rem;
            text-align: center !important;
    
            &:not(:last-child) {
                border-right: var(--table-border);
            }
        }
        tr:not(:last-child) {
            th, td {
                border-bottom: var(--table-border);
            }
        }
    }
}

.message__content__image {
    cursor: pointer;
    margin-top: 0.25rem;
    border-radius: 4px;
    max-width: 320px;
    max-height: 240px;
}

.message__content__file {
    width: 100%;
    max-width: 300px;
    height: 3rem;
    margin-top: 0.25rem;
    padding: 0.2rem 0.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: var(--bg-focus);
    border: 1px solid var(--border);
    border-radius: 0.6rem;

    &__icon {
        flex: none;
        margin-right: 0.3rem;
    }
    &__text {
        flex: 1 1 auto;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &__name {
            font-size: 0.9rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        &__size {
            color: var(--text-greyed);
            font-size: 0.8rem;
            overflow: hidden;
            white-space: nowrap;
            user-select: none;
        }
    }
    &__download {
        flex: 0;
        margin: 0 0.3rem;
    }
}